<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Movies Detail
    </title>
</head>

<style>
    .background {
        background: #4f4f4f;
        color: silver;
    }

    .movies {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;


    }

    .title {
        width: calc(25% - 20px);
        padding: 10px;
    }

    .image {
        width: 100%;
        border-radius: 20px;
    }

    .pagination {
        font-size: 24px;
        text-align: center;
        color: silver;
    }
</style>

<body class="background">
    <%= movie.id %>

        <!-- <h1 class="pagination"><a href="/">Movie Magic</a></h1>
    <section>
        <img class="image" src=<%=`https://image.tmdb.org/t/p/original${movie.backdrop_path}` %> alt="">
    </section>

    <h2>
        <%= movie.title%>
    </h2>
    <p>
        <%=detail.vote_average %>
    </p>
    <p>
        <%= movie.overview%>
    </p> -->

        <!-- <div class="movies">
        <% movie.forEach(detail=> { %>
            <div class="title">
                <img class="image" src="https://image.tmdb.org/t/p/w342<%= movie.backdrop_path %>">
                <h2>
                    <%= detail.original_title %>
                </h2>
            </div>
            <p>
                <%=detail.vote_average %>
            </p>

            <section id="movieID">
                <div>
                    <span>
                        <%=detail.release_date %>
                    </span>
                    <span>
                        <%=detail.status %>
                    </span>
                </div>

                <p>
                    <%=detail.overview %>
                </p>
            </section>
    </div>
    <% }) %> -->

        <!--     
    <ul>
        <% articles.forEach(element=> { %>
            <li>
                <%= element.title %>
            </li>
            <% }) %>
    </ul> -->


</body>

</html>